/* ========================================
   =========== Text Overrides ==========
   ======================================== */
.is-muted {
	color: $grey-light !important;
}

a.is-muted:hover {
	color: $grey !important;
}
/* ========================================
   =========== Navbar Overrides ==========
   ======================================== */
.navbar-item img {
	  max-height: 2.8rem;
}

.navbar {
  	height: 4.5rem;
}

.navbar-brand .brand-item {
	margin-right: 0px;
	@include desktop {
		margin-right: 15px;
	}
}

.navbar-burger {
	border: none;
}

.navbar-item.is-tab.is-active {
	color: $brand-success !important;
	border-bottom-color: $brand-success !important;
}
.navbar-item.is-tab:hover {
	border-bottom-color: $brand-success !important;
}

.menu-list {
	a.is-active {
		background-color: $brand-success !important;
	}
	a.is-active:hover {
		color: white !important;
	}
}

