#left-side-menu {
	position: fixed;
	top: 3.3rem;
	left: -200px;
	bottom: 0;
	width: 200px;
	background-color: whitesmoke;
	overflow-y: scroll;
	transition: left 0.3s ease-in-out;
	&.is-active {
		transition: left 0.3s ease-in-out;
		left: 0;
		@include touch {
			z-index: 1;
		}
	}
	@include desktop {
		left: 0;
	}
	.side-menu li a:hover {
		color: $brand-success;
	}
}

#right-side-menu {
	position: fixed;
	top: 3.3rem;
	right: -200px;
	bottom: 0;
    width: 200px;
    z-index: 1;
	background-color: whitesmoke;
	overflow-y: scroll;
	transition: right 0.3s ease-in-out;
	&.is-active {
		transition: right 0.3s ease-in-out;
		right: 0;
		@include touch {
			z-index: 1;
		}
	}
	@include desktop {
		// display: none;
	}
	.side-menu li a:hover {
		color: $brand-success;
	}
}
#left-slideout-button {
	transition: 0.3s;
	&.is-active {
		transition: 0.3s;
		transform: rotateY(180deg);
	}
}
.managment-area{
	position: absolute;
	top: 4rem;
	right: 0;
	left: 200px;
	@include touch {
		left: 0;
	}
}

.flex-container{
	margin: 10px 25px;
}

.submenu{
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-in-out;
}

.menu-list li ul {
	margin-top: 0;
	margin-bottom: 0;
}
